# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Build artifacts
dist/
bin/
daily-soap

# Database
*.db
*.db-journal

# Go
vendor/

# Environment files
.env

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store

# Temporary files
tmp/

# Dev testing data
data/