<div class="daily-reading">
	<h2>{{.date}}</h2>
	{{ if .esvData.Passages }}
	<div class="passages">
		{{- range .esvData.Passages}}
		<div class="passage-content">
			{{. | safeHTML}}
		</div>
		{{- end}}
		<div class="copyright">
			{{ .esvData.Copyright }}
		</div>
	</div>
	{{ end }}
</div>
