<div class="daily-reading">
	<h2>{{.date}}</h2>
	{{ if .esvData.Passages }}
	<div class="verses">
		{{- range .esvData.Passages}}
		<div class="verse">
			<div class="verse-content">
				{{. | safeHTML}}
			</div>
		</div>
		{{- end}}
		<div class="copyright">
			{{ .esvData.Copyright }}
		</div>
	</div>
	{{ end }}
</div>
