{{define "partial:header_nav"}}
<div class="header-controls">
    <div class="header-brand">
        <a href="/"><img src="/static/images/bible.svg" class="logo" alt="Bible Logo"></a>
        <h1 class="header-title">Daily Reading + SOAP</h1>
    </div>
    {{if .user}}
    <div>
        <a href="/history" class="nav-link history-btn">History</a>
        {{if .user.IsAdmin}}
        <a href="/admin" class="nav-link admin-btn">Admin</a>
        {{end}}
        <span class="user-email">{{.user.Email}}</span>
        <a href="/logout" class="logout-btn">Sign Out</a>
    </div>
    {{end}}
</div>
{{end}}
